<!DOCTYPE html>
<html>
<head>
  <title>We bring you grids from the future 🚀</title>
  <meta name="description" content="We bring you grids from the future 🚀">
  <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <main>
    <header class="main-header">
      <h1>We bring you grids from the future 🚀</h1>
    </header>

    <div class="options">
      <div class="option-group">
        <header>Grid Container</header>
        <div class="option">
          grid-template-columns: <input type="text" name="grid-template-columns">
        </div>
        <div class="option">
          grid-template-rows: <input type="text" name="grid-template-rows">
        </div>
        <div class="option">
          grid-gap: <input type="text" name="grid-gap">
        </div>
      </div>
      
      <div class="option-group">
        <header>Grid Item</header>
        <div class="grid-item-options">
          <header>Grid Item A</header>
          <div class="option">
            grid-column-start: <input type="text" name="grid-column-start">
          </div>
          <div class="option">
            grid-column-end: <input type="text" name="grid-column-end">
          </div>
          <div class="option">
            grid-row-start: <input type="text" name="grid-row-start">
          </div>
          <div class="option">
            grid-row-end: <input type="text" name="grid-row-end">
          </div>
        </div>
        <div class="grid-item-options">
          <header>Grid Item B</header>
          <div class="option">
            grid-column-start: <input type="text" name="grid-column-start">
          </div>
          <div class="option">
            grid-column-end: <input type="text" name="grid-column-end">
          </div>
          <div class="option">
            grid-row-start: <input type="text" name="grid-row-start">
          </div>
          <div class="option">
            grid-row-end: <input type="text" name="grid-row-end">
          </div>
        </div>
        <div class="grid-item-options">
          <header>Grid Item C</header>
          <div class="option">
            grid-column-start: <input type="text" name="grid-column-start">
          </div>
          <div class="option">
            grid-column-end: <input type="text" name="grid-column-end">
          </div>
          <div class="option">
            grid-row-start: <input type="text" name="grid-row-start">
          </div>
          <div class="option">
            grid-row-end: <input type="text" name="grid-row-end">
          </div>
        </div>
      </div>
    </div>
    
    <div class="canvas">
      <div class="grid-wrapper" >
        
        <div class="grid shadow">
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
          <div class="item">&nbsp;</div>
        </div>
        
        <div class="grid">
          <div class="item item-a">
            <h3>Item A</h3>
            <p>Aut totam soluta quae ea expedita ea perspiciatis. Rerum placeat doloribus natus error quasi a.</p>
          </div>
          <div class="item item-b">
            <h3>Item B</h3>
            <p>Nihil qui doloremque voluptatibus dolore sapiente laboriosam nostrum repellat. Fugiat recusandae neque adipisci perferendis voluptates quisquam incidunt eos. Odit aliquam quibusdam voluptas eum.</p>
          </div>
          <div class="item item-c">
            <h3>Item C</h3>
            <p>Odio sed ut quae quod. Et minus iste eum dolor. Excepturi quae doloribus et dolores molestias.</p>
          </div>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <a href="https://gomix.com/#!/project/grids-from-the-future">
      Remix this in Gomix
    </a>
    <span>Made with 💻 by RedRiderX</span>
  </footer>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="/client.js"></script>
</body>
</html>
