<!DOCTYPE html>
<html>
<head>
  <title>We bring you grids from the future 🚀</title>
  <meta name="description" content="We bring you grids from the future 🚀">
  <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <main>
    <header class="main-header">
      <h1>We bring you grids from the future 🚀</h1>
    </header>

    <div class="options">
      <div class="option-group">
        <header>Grid Container</header>
        <div class="option">
          grid-template-columns: 
          <input
            type="text"
            v-model="grid['grid-template-columns']">
        </div>
        <div class="option">
          grid-template-rows:
          <input
            type="text"
            v-model="grid['grid-template-rows']">
        </div>
        <div class="option">
          grid-gap:
          <input
            type="text"
            v-model="grid['grid-gap']">
        </div>
      </div>
      
      <div class="option-group">
        <header>Grid Item</header>
        <div class="option">
          # of grid items:
          <button 
            v-on:click="addGridItem">
            +
          </button>
          <button
            v-on:click="removeGridItem">
            -
          </button>
        </div>
        
        <div
          class="grid-item-options"
          v-for="item in gridItems">
          <header>Grid Item {{ item.index.toUpperCase() }}</header>
          <div class="option">
            grid-column-start:
            <input
              type="text"
              v-model="item['grid-column-start']">
          </div>
          <div class="option">
            grid-column-end:
            <input
              type="text"
              v-model="item['grid-column-end']">
          </div>
          <div class="option">
            grid-row-start: 
            <input
              type="text"
              v-model="item['grid-row-start']">
          </div>
          <div class="option">
            grid-row-end: 
            <input
              type="text"
              v-model="item['grid-row-end']">
          </div>
        </div>
      </div>
    </div>
    
    <div class="canvas">
      <div class="grid-wrapper">
        <grid
          v-bind:grid="grid"
          v-bind:grid-items="gridItems">
        </grid>
        <shadow-grid
          v-bind:grid="grid">
        </shadow-grid>
      </div>
    </div>
  </main>

  <footer>
    <a href="https://gomix.com/#!/project/grids-from-the-future">
      Remix this in Gomix
    </a>
    <span>Made with 💻 by RedRiderX</span>
  </footer>
  
  <script type="text/x-template" id="grid-item-template">
      <div
        v-bind:style="itemStyles">
        <h3>Item {{ item.index.toUpperCase() }}</h3>
        <p contenteditable>{{ item.text }}</p>
      </div>
    </div>
  </script>
  
  <script type="text/x-template" id="grid-template">
    <div 
      class="grid"
      v-bind:style="gridStyles">
      <grid-item
        class="item"
        v-for="item in gridItems"
        v-bind:item="item">
      </grid-item>
    </div>
  </script>
  
  <script type="text/x-template" id="shadow-grid-template">
    <div
      class="grid shadow"
      v-bind:style="gridStyles">
      <div
        class="item"
        v-for="n in totalPossibleItems">
        &nbsp;
      </div>
    </div>
  </script>
  
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="/client.js"></script>
</body>
</html>
