body {
  font-family: 'Source Sans Pro', sans-serif;
}

.support-warning {
  font-size: 1.6rem;
  text-align: center;
/*   border-bottom: 3px solid gray; */
  max-width: 45rem;
  margin: auto;
}

@supports (display: grid) {
  
  .support-warning {
    display: none;
  }
}

/* Wrapper layout */

main {
  display: grid;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  grid-template-columns: 26rem auto;
  grid-template-rows: 3.2rem auto;
  grid-template-areas:
      "header canvas"
      "options canvas"
  ;
}

.main-header,
.options,
.canvas {
  padding: 1rem;
}

.main-header {
  background: lightblue;
  grid-area: header;
}

.main-header h1  {
  font-size: 1.2rem;
  margin: 0;
}

.options {
  overflow-y: scroll;
  background: lightcoral;
  grid-area: options;
}

.option-group {
  margin-bottom: 1rem;
}

.option-group > header {
  font-size: 1.8rem;
  padding: .5rem 0;
  border-bottom: 3px solid gray;
}

.option {
  font-family: 'Source Code Pro', monospace;
  padding: .5rem 0;
  border-bottom: 1px solid gray;
  margin-left: 1rem;
}

.option input {
  font-family: 'Source Code Pro', monospace;
  width: 7rem;
  background: #98989833;
  border: 1px solid gray;
}


.option input:focus {
  background: #fff6;
  width: 100%;
}

.grid-item-options {
  margin-left: 1rem;
}

.grid-item-options > header {
  font-size: 1.4rem;
  padding: .5rem 0;
  border-bottom: 2px solid gray;
}

.canvas {
  background: lightgoldenrodyellow;
  grid-area: canvas;
  overflow: scroll;
}

.grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid {
  position: relative;
  display: grid;
/*   background: lightgreen; */
  z-index: 2;
}

.shadow.grid {
  position: absolute;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  top: 0;
  left: 0;
  z-index: 1;
/*   opacity: 0.25; */
}

.shadow.grid .item {
  border-radius: 0;
/*   background-color: #e5e1db; */
  background-color: #e9d3b2;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23aca792' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.item {
  background: orange;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}

.item h3 {
  margin: 0;
}

footer {
  padding: 1rem;
  background: lightgray;
}